.selected-state {
	fill: limegreen !important;
	/* or any other style for the selected state */
}

.legend {
	font-size: 12px;
}

.legend text {
	fill: black;
}

.legend rect {
	stroke: none;
}

.legend .tick line {
	stroke: black;
}

/* #variableDropdown {
	position: absolute;
	top: 1vh;
	left: 80vw;
	z-index: 999;
} */

.section {
	text-align: center;
	/* font-size: 3em; */
}

.fp-watermark {
	display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background-color: white;
}

.section {
	background-position: center center;
	background-repeat: none;
	background-size: cover;
}

:root {
	--bg-color: #26272f;
	--primary-color: #ff6127;
	--primary-font-family: 'Roboto', sans-serif;
}

.particle-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	font-family: var(--primary-font-family);
	font-weight: 100;
}

h1 {
	font-size: 36px;
	margin-top: 40px;
}

h2 {
	color: #94a97a;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 30px;
}


.team-member h2 {
	color: var(--primary-color); /* Set the color to the desired value */
}

.team-member p {

	color:white;
}

.narration {
	font-family: var(--primary-font-family);
	font-weight: 400;
	text-align: center;
	margin: 30px 50px;
}

.narration-section {
	background-color: var(--primary-color);
	padding: 10px 30px;
}

.scroll-prompt {
	font-size: 20px;
	font-weight: 700;
	font-family: var(--primary-font-family);
}

.scroll-btn {
	border-color: white;
	color: white;
	font-size: 1rem;
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

.scroll-btn:hover {
	background-color: white;
	color: var(--primary-color);
	border-color: var(--primary-color)
}


#title {
	color: white;
	font-family: var(--primary-font-family);
	font-weight: 100;
	margin: 20px 70px;
}

#title,
#subtitle {
	text-align: center;
}

.primary-foreground {
	color: var(--primary-color)
}

.secondary-foreground {
	color: var(--bg-color)
}

.tertiary-foreground {
	color: white
}

.primary-background {
	background-color: var(--primary-color)
}

.secondary-background {
	background-color: var(--bg-color)
}

.axis line,
.axis path {
	/* fill: none;
	stroke: cyan; */
	shape-rendering: crispEdges;
}

.user-control {
	margin: 0px 30%;
}

.tick text {
	font-family: var(--primary-font-family);
	font-size: 12px;
	font-weight: 700;
}

#priovis .x-axis text {
	font-weight: 600;
}

.area {
	fill: var(--bg-color);
}

.area.area-age {
	fill: #94a97a;
}

.bar {
	fill: var(--primary-color);
}

.tooltip {
	position: absolute;
	text-align: center;
	font: 12px sans-serif;
}

.tooltip h3,
h4 {
	text-align: left;
}

.tooltip h4 {
	font: 14px sans-serif;
}

.table {
	font-size: 0.7em;
}

.x-axis,
.y-axis {
	font-size: .5em;
}

.noUi-connect {
	background: var(--primary-color);
}

.noUi-connects {
	background: var(--bg-color);
}

.noUi-touch-area {
	background: white;
}

/* Sankey Styles */

.node rect {
	fill-opacity: .9;
	shape-rendering: crispEdges;
}

.node text {
	pointer-events: none;
	text-shadow: 0 1px 0 #fff;
}

.link {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
}

.link:hover {
	stroke-opacity: .5;
}

.team-member {
	text-align: center;
	margin-bottom: 20px; /* Adjust the margin for spacing between team members */
}

.team-member img {
	width: 100%;
	border-radius: 50%; /* Optional: Add a circular border to the images */
}

.col-sm {
	color: white; /* Set the text color to white */
}

.col-sm strong {
	margin-right: 5px; /* Adjust the margin-right as needed */
}